section {
  background-color: hsl(263, 55%, 52%);
  padding: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: 1px 5px 10px;
}

.aboutme {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.decription {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

img {
  border: 30px;
  border-radius: 30px;
  border-color: white;
  border: 2px solid white;
}

.imgBlock {
  display: flex;
}

.job {
  margin-left: 10px;

  font-family: "Barlow Semi Condensed", serif;
}

.span {
  display: block;
  font-size: small;
  font-weight: 100;
}

.parent-container {
  display: grid;
  grid-template-columns: 50% 500px;
  gap: 20px;
  justify-content: center;
  margin-top: 250px;
}

.child-container {
  display: grid;
  gap: 20px;
}
.child-container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.child-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.container1 {
  grid-column: span 3;
}

.container2 {
  background-color: hsl(217, 19%, 35%);
}

.container3 {
  background-color: hsl(0, 0%, 100%);
  color: black;
}
.container4 {
  background-color: hsl(0, 0%, 100%);
  color: black;
}
.container5 {
  background-color: hsl(219, 29%, 14%);
  grid-column: span 3;
}
